{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards Pesan</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'cards.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- style: https://codepen.io/imreyesjorge/pen/GVQEwV -->
    
</head>
<body>
    <nav>
        <ul>
            <li><a href="/lab-4/note-list">Lihat Cards</a></li>
            <li><a href="/lab-4/">Lihat Tabel</a></li>
            <li><a href="/lab-4/add-note">Kirim Pesan</a></li>
        </ul>
    </nav>
    <div class="container">
        {% for n in notes%}
        <div class="card">
          <h4>{{n.title}}</h4>
          <div class="desc">To: {{n.to}}</div>
          <div class="desc">From: {{n.from_user}}</div>
          <div class="desc">{{n.message}}</div>
        </div>
        {% endfor %}
    </div>
</body>
</html>