{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Pesan</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'form_style.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> -->
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <!-- Style source https://bootsnipp.com/snippets/7nmOW -->
</head>
<body>
    <nav>
        <ul>
            <li><a href="/lab-4/note-list">Lihat Cards</a></li>
            <li><a href="/lab-4/">Lihat Tabel</a></li>
            <li><a href="/lab-4/add-note">Kirim Pesan</a></li>
        </ul>
    </nav>
    <div class="container message-form">
        <form action="" method="POST"> {% csrf_token %}
            <h3>Kirim pesan ke temanmu!</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                            <input type="text" id="from_user" name="from_user" class="form-control" placeholder="Nama Pengirim" value="" />
                    </div>
                    <div class="form-group">
                            <input type="text" id="to" name="to" class="form-control" placeholder="Nama Penerima" value="" />
                    </div>
                    <div class="form-group">
                        <input type="text" id = "title" name="title" class="form-control" placeholder="Subject" value="" />
                    </div>
                    <div class="form-group">
                        <input id = "btnContactSubmit" type="submit" value="submit" />
                    </div>
                </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea id = "message" name = "message" class="form-control" placeholder="Pesan anda" style="width: 100%; height: 150px;"></textarea>
                        </div>
                    </div>
                </div>
        </form>
    </div>
</body>
</html>