{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabel Pesan</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- style: https://codepen.io/florantara/pen/dROvdb -->
</head>
<body>
    <nav>
        <ul>
            <li><a href="/lab-4/note-list">Lihat Cards</a></li>
            <li><a href="/lab-4/">Lihat Tabel</a></li>
            <li><a href="/lab-4/add-note">Kirim Pesan</a></li>
        </ul>
    </nav>
    <h2>Daftar Pesan</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>To</th>
                <th>From</th>
                <th>Title</th>
                <th>Message</th>
            </tr>
            </thead>
            <!-- copased from friend_list_lab1.html -->
            <tbody>
                {% for n in notes %}
                <tr>
                    <td>{{n.to}}</td>
                    <td>{{n.from_user}}</td>
                    <td>{{n.title}}</td>
                    <td>{{n.message}}</td>
                </tr>
                {% endfor %}  
                <!-- END SECTION -->
            </tbody>
        </table>
    </div>
</body>
</html>