
.container {
  display: flex;
}

.card {
  margin: 1rem;
  width: 300px;
  height: 500px;
  padding: 0.5rem 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 12px 32px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card:hover {
  transform: translateY(-5px);
}

.desc {
    text-align: justify;
}
