<!DOCTYPE html>
<html>
<body>

<h1>Masukan Data Teman Anda</h1>
<!-- sauce: https://www.w3schools.com/tags/att_form_method.asp -->
<form action="" method="POST"> {% csrf_token %}
  <label for="name">Name:</label>
  <input type="text" id="name" name="name"><br><br>
  <label for="npm">NPM:</label>
  <input type="text" id="npm" name="npm"><br><br>  
  <label for="dob">Date of Birth:</label>
  <input type="date" id="dob" name="dob"><br><br>
  <input type="submit" value="Submit">
</form>

<!-- <p>Click on the submit button, and the form will be submittied using the POST method.</p> -->

</body>
</html>
