<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      <!-- source: https://stackoverflow.com/questions/10326159/django-for-loop-in-a-html-template-page-newbie -->
      {% for f in friends %}
        <tr>
          <td>{{f.name}}</td>
          <td>{{f.npm}}</td>
          <td>{{f.dob}}</td>
        </tr>
      {% endfor %}  
      <!-- END SECTION -->
    </table>
  </body>
</html>
