<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Message List</title>
    <style>
      table, th, td {
      border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- copased from friend_list_lab1.html -->
      {% for n in notes %}
        <tr>
          <td>{{n.to}}</td>
          <td>{{n.from_user}}</td>
          <td>{{n.title}}</td>
          <td>{{n.message}}</td>
        </tr>
      {% endfor %}  
      <!-- END SECTION -->
    </table>
  </body>
</html>
